<form action="/register" method="POST" enctype="multipart/form-data">
  <input type="text" name="fullname" required placeholder="Full Name" />
  <input type="email" name="email" required placeholder="Email" />
  <input type="text" name="address" required placeholder="Address" />
  <input type="text" name="nextOfKin" required placeholder="Next of Kin" />
  <input type="password" name="password" required placeholder="Password" />
  <input type="text" name="phoneNumber" required placeholder="Phone Number" />
  <input type="text" name="accountNumber" required placeholder="Account Number" />
  <input type="text" name="accountName" required placeholder="Account Name" />
  <input type="text" name="nextOfKinPhoneNumber" required placeholder="Next of Kin Phone Number" />
  <input type="file" name="image" required /> <!-- Ensure this matches the upload.single('image') -->
  <button type="submit">Register</button>
</form>